[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urllib3 = "*"
selenium = "*"
webdriver-manager = "*"
pandas = "*"
numpy = "*"
pathlib = "*"
langchain-groq = "*"
langchain = "*"
chromadb = "*"
sentence-transformers = "*"
pypdf2 = "*"
python-docx = "*"
langchain-community = "*"
langchain-huggingface = "*"
playwright = "*"
selenium-wire = "*"
beautifulsoup4 = "*"
browser-use = "*"
langchain-hyperbrowser = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.13"
